In [15]:
import pandas as pd 
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
from sqlalchemy import create_engine
from psycopg2 import sql,errors

In [16]:
renewables_df = pd.read_csv("energy_dataset_.csv")
renewables_df.head()

,Type_of_Renewable_Energy,Installed_Capacity_MW,Energy_Production_MWh,Energy_Consumption_MWh,Energy_Storage_Capacity_MWh,Storage_Efficiency_Percentage,Grid_Integration_Level,Initial_Investment_USD,Funding_Sources,Financial_Incentives_USD,GHG_Emission_Reduction_tCO2e,Air_Pollution_Reduction_Index,Jobs_Created
0,4,93.423205,103853.2206,248708.4892,2953.248771,89.887562,4,4.732248e+08,1,9.207772e+06,6663.816572,81.742461,1366
1,4,590.468942,190223.0649,166104.1642,5305.174042,84.403343,4,1.670697e+08,2,1.685101e+06,30656.049820,78.139042,1743
2,1,625.951142,266023.4824,424114.6308,2620.192622,60.498249,2,8.463610e+07,2,5.111813e+06,1749.613759,8.461296,363
3,1,779.998728,487039.5296,308337.7316,1925.250307,86.897861,3,3.967690e+08,2,4.805902e+06,43233.237820,8.402441,2821
4,3,242.106837,482815.0856,360437.7705,3948.945383,70.949351,2,3.574413e+07,1,1.668601e+07,14858.662760,28.822867,2583

In [17]:
renewables_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Type_of_Renewable_Energy       15000 non-null  int64
 1   Installed_Capacity_MW          15000 non-null  float64
 2   Energy_Production_MWh          15000 non-null  float64
 3   Energy_Consumption_MWh         15000 non-null  float64
 4   Energy_Storage_Capacity_MWh    15000 non-null  float64
 5   Storage_Efficiency_Percentage  15000 non-null  float64
 6   Grid_Integration_Level         15000 non-null  int64
 7   Initial_Investment_USD         15000 non-null  float64
 8   Funding_Sources                15000 non-null  int64
 9   Financial_Incentives_USD       15000 non-null  float64
 10  GHG_Emission_Reduction_tCO2e   15000 non-null  float64
 11  Air_Pollution_Reduction_Index  15000 non-null  float64
 12  Jobs_Created                   15000 non-null  int64
dtypes: float64(9), int64(4)
memory usage: 1.5 MB

In [18]:
renewable_types = [{"renewable_id":1, "technology_type": "solar"},
                  {"renewable_id":2, "technology_type": "wind"}, 
                  {"renewable_id":3, "technology_type":"hydroelectric"}, 
                  {"renewable_id":4, "technology_type":"geothermal"}, 
                  {"renewable_id":5, "technology_type":"biomass"},
                  {"renewable_id":6, "technology_type":"tidal"}, 
                   {"renewable_id":7, "technology_type": "wave"}]
renewable_types = pd.DataFrame(renewable_types)
print(renewable_types)

   renewable_id technology_type
0             1           solar
1             2            wind
2             3   hydroelectric
3             4      geothermal
4             5         biomass
5             6           tidal
6             7            wave

In [19]:
funding = [
    {"funding_id": 1, "funding_type": "government"},
    {"funding_id" : 2, "funding_type" : "private"}, 
    {"funding_id" : 3, "funding_type" : "public-private partnership"}
]

funding = pd.DataFrame(funding)
funding

   funding_id                funding_type
0           1                  government
1           2                     private
2           3  public-private partnership

In [20]:
Grids = [
    {"integration_id": 1 , "integration_type": "fully integrated"}, 
    {"integration_id": 2 , "integration_type": "partially integrated"}, 
    {"integration_id": 3, "integration_type" : "minimal integration"}, 
    {"integration_id": 4, "integration_type" : "isolated microgrid"}
]

grids = pd.DataFrame(Grids)
grids

   integration_id      integration_type
0               1      fully integrated
1               2  partially integrated
2               3   minimal integration
3               4    isolated microgrid

In [21]:
renewables_df.columns

Index(['Type_of_Renewable_Energy', 'Installed_Capacity_MW',
       'Energy_Production_MWh', 'Energy_Consumption_MWh',
       'Energy_Storage_Capacity_MWh', 'Storage_Efficiency_Percentage',
       'Grid_Integration_Level', 'Initial_Investment_USD', 'Funding_Sources',
       'Financial_Incentives_USD', 'GHG_Emission_Reduction_tCO2e',
       'Air_Pollution_Reduction_Index', 'Jobs_Created'],
      dtype='object')

In [22]:
columns = {"Type_of_Renewable_Energy": "renewable_id", "Funding_Sources": "funding_id", "Grid_Integration_Level": "integration_id"}

In [23]:
renewables_df = renewables_df.rename(columns = columns)
renewables_df.head()

,renewable_id,Installed_Capacity_MW,Energy_Production_MWh,Energy_Consumption_MWh,Energy_Storage_Capacity_MWh,Storage_Efficiency_Percentage,integration_id,Initial_Investment_USD,funding_id,Financial_Incentives_USD,GHG_Emission_Reduction_tCO2e,Air_Pollution_Reduction_Index,Jobs_Created
0,4,93.423205,103853.2206,248708.4892,2953.248771,89.887562,4,4.732248e+08,1,9.207772e+06,6663.816572,81.742461,1366
1,4,590.468942,190223.0649,166104.1642,5305.174042,84.403343,4,1.670697e+08,2,1.685101e+06,30656.049820,78.139042,1743
2,1,625.951142,266023.4824,424114.6308,2620.192622,60.498249,2,8.463610e+07,2,5.111813e+06,1749.613759,8.461296,363
3,1,779.998728,487039.5296,308337.7316,1925.250307,86.897861,3,3.967690e+08,2,4.805902e+06,43233.237820,8.402441,2821
4,3,242.106837,482815.0856,360437.7705,3948.945383,70.949351,2,3.574413e+07,1,1.668601e+07,14858.662760,28.822867,2583

In [24]:
dataframes = {'renewables':renewables_df,
              'technologies': renewable_types,
              'funding': funding,
              'grids': grids}

In [29]:
user = 'postgres'
password = 'password'
host = 'localhost'
port = '5432'
database = 'postgres'
target_db = 'RenewablesDatabase'
engine = create_engine('postgresql://postgres:password@localhost:5432/RenewablesDatabase')

In [36]:
def database_exists(conn, db_name):
    cur = conn.cursor()
    cur.execute("SELECT 1 FROM pg_database WHERE datname = %s", (db_name,))
    exists = cur.fetchone is not None
    cur.close()
    return exists

def create_database(conn, db_name):
    conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
    cur = conn.cursor()
    try:
        cur.execute(sql.SQL("CREATE DATABASE {}").format(sql.Identifier(db_name)))
    except errors.DuplicateDatabase:
        print(f"Database '{db_name}' already exists.")
    finally:
        cur.close()
        
def create_schema(conn):
    cur = conn.cursor()
    cur.execute("CREATE SCHEMA IF NOT EXISTS renewabletechnologies;")
    conn.commit()
    cur.close()
    
    
def create_tables(conn): 
    cur = conn.cursor()
    cur.execute("""
    CREATE TABLE IF NOT EXISTS renewabletechnologies.technologies(
    renewable_id INTEGER PRIMARY KEY,
    technology_type TEXT);
    
    CREATE TABLE IF NOT EXISTS renewabletechnologies.funding(
    funding_id INTEGER PRIMARY KEY, 
    funding_type TEXT);
    
    CREATE TABLE IF NOT EXISTS renewabletechnologies.grids(
    integration_id INTEGER PRIMARY KEY, 
    integration_type TEXT);
    
    
    CREATE TABLE IF NOT EXISTS renewabletechnologies.renewables(
    renewable_id INTEGER,
    installed_capacity_mw NUMERIC,
    energy_production_mwh NUMERIC, 
    energy_consumption_mwh NUMERIC,
    energy_storage_capacity_mwh NUMERIC,
    storage_efficiency_percentage NUMERIC,
    integration_id INTEGER,
    initial_investment_usd NUMERIC,
    funding_id INTEGER,
    financial_incentives_usd NUMERIC,
    ghg_emission_reduction_tCO2e NUMERIC,
    air_pollution_reduction_index NUMERIC,
    jobs_created INTEGER, 
    FOREIGN KEY(renewable_id) REFERENCES renewabletechnologies.technologies(renewable_id),
    FOREIGN KEY(funding_id) REFERENCES renewabletechnologies.funding(funding_id), 
    FOREIGN KEY(integration_id) REFERENCES renewabletechnologies.grids(integration_id));
    """)
    
    conn.commit()
    cur.close()
    
    
def add_constraints(conn):
    cur = conn.cursor()
    constraints = [
        ("renewabletechnologies.renewables","fk_renewable_id", "FOREIGN KEY(renewable_id) REFERENCES renewabletechnologies.technologies(renewable_id)"),
        ("renewabletechnologies.renewables", "fk_funding_id", "FOREIGN_KEY(funding_id) REFERENCES renewabletechnologies.funding(funding_id)"), 
        ("renewabletechnologies.renewables", "fk_integration_id", "FOREIGN_KEY(integration_id) REFERENCES renewabletechnologies.grids(integration_id)")
    ]
    
    
    
    for table, constraint_name, constraint_def in constraints:
        try: 
            cur.execute(sql.SQL(f"""
            DO $$
            BEGIN
                IF NOT EXISTS (
                SELECT 1 
                FROM pg_constraint
                WHERE conname = %s
                ) THEN 
                  ALTER TABLE {table} ADD CONSTRAINT {constraint_name} {constraint_def};
                END IF;
            END
            $$;
            """), [constraint_name])
        except Exception as e:
            print(f"error adding constraint {constraint_name} to {table}: {e}")
            
            
    conn.commit()
    cur.close()
    
def insert_data_into_postgresql(dataframes, conn):
    engine = create_engine('postgresql://postgres:password@localhost:5432/RenewablesDatabase')
    for name, df in dataframes.items():
        df.to_sql(name, engine, schema = 'renewabletechnologies', if_exists = 'replace' , index = False)
            
def main():
    user = 'postgres'
    password = 'password'
    host = 'localhost'
    port = '5432'
    database = 'postgres'
    target_db = 'RenewablesDatabase'
    
    conn = psycopg2.connect(dbname= database, user=user, password=password, host=host,port=port)
    
    if not database_exists(conn, target_db):
        create_database(conn,target_db)
            
    conn.close()
    
    conn = psycopg2.connect(dbname= target_db, user=user, password=password, host=host, port=port)
    create_schema(conn)
    create_tables(conn)
    add_constraints(conn)
    
    
    insert_data_into_postgresql(dataframes, conn)
    
    conn.close()
    
if __name__ == "__main__":
    main()

error adding constraint fk_funding_id to renewabletechnologies.renewables: syntax error at or near "FOREIGN_KEY"
LINE 9: ...hnologies.renewables ADD CONSTRAINT fk_funding_id FOREIGN_KE...
                                                             ^

error adding constraint fk_integration_id to renewabletechnologies.renewables: current transaction is aborted, commands ignored until end of transaction block